xml/circuito.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns="http://www.uniovi.es" elementFormDefault="qualified" targetNamespace="http://www.uniovi.es" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="circuito">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombreCircuito" />
        <xs:element ref="extension" />
        <xs:element ref="anchura" />
        <xs:element ref="fecha" />
        <xs:element ref="hora" />
        <xs:element ref="vueltas" />
        <xs:element ref="localidad" />
        <xs:element ref="pais" />
        <xs:element ref="patrocinador" />
        <xs:element ref="referencias" />
        <xs:element ref="galeriaFotos" />
        <xs:element ref="galeriaVideos" />
        <xs:element ref="origen" />
        <xs:element ref="tramos" />
        <xs:element ref="ganador" />
        <xs:element ref="podio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nombreCircuito" type="xs:string" />
  <xs:element name="extension">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="unidad" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="anchura">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="unidad" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="fecha" type="xs:date" />
  <xs:element name="hora" type="xs:time" />
  <xs:element name="vueltas" type="xs:integer" />
  <xs:element name="localidad" type="xs:string" />
  <xs:element name="pais" type="xs:string" />
  <xs:element name="patrocinador" type="xs:string" />

  <!-- Nuevos tipos restringidos para coordenadas y altitud -->
  <xs:simpleType name="longitudeType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-180"/>
      <xs:maxInclusive value="180"/>
      <xs:fractionDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="latitudeType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-90"/>
      <xs:maxInclusive value="90"/>
      <xs:fractionDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="altitudeType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="10000"/> 
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Fin de tipos restringidos-->

  <xs:element name="coordenada">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="longitud" />
        <xs:element ref="latitud" />
        <xs:element ref="altitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="punto">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="coordenada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="longitud" type="longitudeType" />
  <xs:element name="latitud" type="latitudeType" />
  <xs:element name="altitud" type="altitudeType" />
  <xs:element name="origen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="coordenada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tramos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="80" ref="tramo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="punto" />
        <xs:element ref="sector" />
      </xs:sequence>
      <xs:attribute name="distancia" type="xs:integer" use="required" />
      <xs:attribute name="unidad" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="referencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="3" maxOccurs="10" ref="referencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="referencia" type="xs:string" />
  <xs:element name="sector" type="xs:integer" />
  <xs:element name="ganador">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombreGanador" />
        <xs:element ref="tiempo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tiempo" type="xs:time" />
  <xs:element name="nombreGanador" type="xs:string" />
  <xs:element name="corredor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="posicion" />
        <xs:element ref="nombreCorredorPodio" />
        <xs:element ref="puntos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="posicion" type="xs:integer" />
  <xs:element name="puntos" type="xs:integer" />
  <xs:element name="nombreCorredorPodio" type="xs:string" />
  <xs:element name="podio">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="corredor" />
        <xs:element ref="corredor" />
        <xs:element ref="corredor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="galeriaFotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="5" ref="foto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="foto">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="src" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="galeriaVideos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="3" ref="video" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="video">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="src" type="xs:string" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>